<a href="https://colab.research.google.com/github/ddanyul/OOP-58001/blob/main/Operations_and_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Boolean Operators

In [ ]:
print(10>9)
print(10==9)
print(10!=9)
print(10<9)

True
False
True
False

bool{} Function

In [ ]:
print(bool("Daniel"))
print(bool(21))
print(bool([]))
print(bool(0))
print(bool(1))
print(bool(None))
print(bool(False))

True
True
False
False
True
False
False

#Functions can return a Boolean

In [5]:
def myFunction():
  return True
print(myFunction())

True

try

In [6]:
if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

#Application 1

In [7]:
print(10>9)
a=6
b=7
print(a==b)
print(a!=b)

True
False
True

#Python Operators

In [8]:
  print(10+3)
  print(10 - 3)
  print(10*3)
  print(10/3)
  print(10 % 3)
  print(10//3)

13
7
30
3.3333333333333335
1
3

#Bitwise Operators

In [12]:
#a=60, binary 0011 1100
#b=13, binary 0000 1101

print(a&b)
print(a|b)
print(a^b)
print(a<<b)
print(a>>b)

6
7
1
768
0

#Application 2

Assignment Operators

In [23]:
a+=3  #Same As a = a+3
a-=3  #Same As a = a-3
a*=3  #Same As a = a*3
a/=3  #Same As a = a/3
a%=3  #Same As a = a%3

#Logical Operators

In [24]:
k = True 
l = False 
print(k and l)
print(k or l)
print(not(k or l))

False
True
False

#Identity Operators

In [25]:
print(k is l)
print(k is not l)

False
True

#Control Structure

if Statement

In [29]:
if a>b:
  print("a is greater than b")

Elif Statement

In [30]:
if a<b:
  print("a is less than b")

elif a!=b:
  print("a is not b")

a is less than b

Else Statement

In [39]:
number = int(input())

if number>0:
  print("Positive")

elif number<0:
  print("negative")

else:
  print("number is equal to zero")

2
Positive

#Application 3 - Develop a Python Program that will accept if a person is entitled to vote or not

In [40]:
age = int(input())

if age >= 18:
  print("You are qulifed to vote")
else:
  print("you are not qualified to vote")

22
You are qulifed to vote

#Nested if...Else

In [41]:
u = int(input())
if u>10:
  print("u is above 10")
  if u>20:
    print("u is above 20")
    if u>30:
      print("u is above 30")
      if u>40:
        print("u is above 40")
        if u>50:
          print("u is above 50")
        else:
          print("u is below 50")

21
u is above 10
u is above 20

#Loop Structure

In [42]:
week = ['Sunday','Monday','Tuesday','Wednesday','Thursday','Friday','Saturday']
Season=['rainy','sunny']
for x in week:
  for y in Season:
    print(y,x)

rainy Sunday
sunny Sunday
rainy Monday
sunny Monday
rainy Tuesday
sunny Tuesday
rainy Wednesday
sunny Wednesday
rainy Thursday
sunny Thursday
rainy Friday
sunny Friday
rainy Saturday
sunny Saturday

#The Break Statement

In [43]:
for x in week:
  print(x)
  if x == 'Thursday':
    break

Sunday
Monday
Tuesday
Wednesday
Thursday

#While loop

In [44]:
i=1

while i<=6:
  print(i)
  i+=1

1
2
3
4
5
6

#Application 4 - Create a Python Program that displays numbers from 1 to 4

In [45]:
j=1
while j<=4:
  print(j)
  j+=1

1
2
3
4

#Application 5 - Create a phython program that displays number 4 using while and break statement:

In [46]:
j=1
while j<=4:
  j+=1
  if j == 4:
   print(j)

4